## step 0: import data and reanding it

In [42]:
import pandas as pd 
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns 
import statsmodels.api as sm

In [5]:
plt.style.use('ggplot')
# pd.set_option('max_columns', 200)

In [7]:
print(sm.

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [40]:
df = sns.load_dataset('glue')

In [41]:
df.head()

         Model  Year      Encoder  Task  Score
0        ERNIE  2019  Transformer  CoLA   75.5
1           T5  2019  Transformer  CoLA   71.6
2      RoBERTa  2019  Transformer  CoLA   67.8
3         BERT  2018  Transformer  CoLA   60.5
4  BiLSTM+ELMo  2018         LSTM  CoLA   32.1

In [16]:
help(sns.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.